$color-base:#661725;
$color-blanco:#ffffff;
$color-negro:#333333;
$color-hover:#C26939;
$fuente-ubuntu:'Ubuntu',
sans-serif;
$imagen-inicio:url("../imagenes/inicio-menu-d.png");
$imagen-inicio-mobile:url("../imagenes/banner-mobile.png");
$imagen-mobile-desplegable:url("../imagenes/menu-mobile.png");
////////////////////////////////// fin variables///////////////
main {
    overflow: hidden;
}

.navBarDesktop1 {
    background-color: none;
}

.navBarDesktop1-enlaces {
    justify-content: center;
    flex-grow: 0;
    a {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        margin: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: $color-negro;
        &:hover {
            transform: scale(1.1, 1.1);
            text-decoration: none;
            color: $color-negro;
        }
    }
}

.navBarDesktop2 {
    justify-content: center;
    a {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        margin: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: $color-blanco;
        &:hover {
            transform: scale(1.1, 1.1);
            color: $color-blanco;
        }
    }
}

.logoNav img {
    width: 80px;
}

.menuNone {
    transition: all ease .5s;
    display: none;
}

.menuBlock2 {
    transition: all ease .5s;
    display: none;
    background: $color-base;
    height: 95px;
    width: 100%;
    border-radius: 0%;
}

.menuFixed {
    // transition: all ease .5s;
    display: block !important;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 95px;
    width: 100%;
    max-width: 1000;
    border-radius: 0%;
}

.menuBlock {
    transition: all ease .5s;
}

.menuMobile {
    display: none;
}

//aplicado al inicio
.inicioMobile {
    display: none;
}

.inicioDesktop {
    display: block;
}

.contenedorInicio {
    width: 100%;
    height: 800px;
    background-image: $imagen-inicio;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoInicio {
    width: 426px;
    margin-left: 200px;
    margin-top: 137px;
    h1 {
        margin-bottom: 40px;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
    }
    p {
        margin-bottom: 60px;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 24px;
    }
    button {
        margin: 0px;
        color: $color-blanco;
        width: 100%;
        background: $color-base;
        box-shadow: 0px 2px 8px rgba(31, 14, 17, 0.5);
        border-radius: 10px;
        height: 60px;
        a {
            text-decoration: none;
            color: $color-blanco;
            font-family: $fuente-ubuntu;
        }
        &:hover {
            background-color: $color-hover;
            transform: scale(1.1, 1.1);
        }
    }
}

.logoMobile {
    display: none;
}

//redes flotantes
.redesFlotantes {
    display: block;
    color: #fff;
    position: fixed;
    right: 5%;
    top: 48%;
    bottom: 21%;
    text-align: center;
    z-index: 999;
    ul {
        list-style: none;
        li {
            margin-bottom: 32px;
            // color: $color-base;
            &:hover {
                color: $color-hover;
                transform: scale(1.1, 1.1);
            }
        }
    }
    img {
        width: 30px;
        height: 30px;
        &:hover {
            color: $color-hover;
            transform: scale(1.1, 1.1);
        }
    }
}

//aplicado a Soy Lucas
.soyLucas {
    margin-left: 198px;
    margin-right: 200px;
    margin-top: 15%;
}

.bloqueSoyLucas1 {
    margin-bottom: 51px;
}

.imagenSoyLucas1 img {
    width: 338px;
    height: 338px;
    padding: 0px;
    border-radius: 9px;
}

.textoSoyLucas1 {
    margin-left: 100px;
    // font-family: $fuente-ubuntu;
    h2 {
        color: $color-base;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 26px;
        margin-top: 0px;
    }
    p {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 129.9%;
        margin-bottom: 30px;
        color: $color-negro;
    }
    h4 {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: $color-negro;
        margin-bottom: 24px;
    }
}

.textoSoyLucas2 {
    margin-left: 0px;
    h4 {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 24px;
        color: $color-negro;
        margin-top: 0px;
    }
    p {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 129.9%;
        color: $color-negro;
        margin-bottom: 30px;
    }
}

.imagenSoyLucas2 img {
    width: 338px;
    height: 338px;
    padding: 0px;
    border-radius: 15px;
    margin-left: 75px;
}

.leerSoyLucas p {
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $color-base;
    &:hover {
        color: $color-hover;
        transform: scale(1.1, 1.1);
    }
}

.imagenesMobile img {
    display: none;
}

//Section Youtube
.grid {
    color: #FFFFFF;
    background: #661725;
    height: 409px;
    border-radius: 20px;
    max-width: 943px;
    position: relative;
}

section.youtube1 {
    width: 63%;
    margin-left: 187px;
    margin-top: 3%;
}

.flex-icon1 ul,
.flex-icon2 ul,
.flex-icon3 ul {
    list-style: none;
}

.button1 {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #661725;
    width: 250px;
    height: 60px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #df082f;
    color: #000000;
    text-decoration: none;
}

div.buttonDiv {
    position: relative;
    margin: auto;
}

.pregunta h2 {
    margin: 45px 0 0 47px;
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
}

.tips {
    margin: auto;
}

div.titulo h1 {
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: $color-base;
    margin-bottom: 30px;
}

div.tituloBlog h1 {
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: $color-base;
    margin-top: 120px;
    margin-bottom: 30px;
}

.titulo,
.tituloBlog p {
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    align-items: center;
    max-width: 943px;
    margin-bottom: 40px;
}

div.fotoYoutube {
    border-radius: 20px;
    width: 702.23px;
    height: 395px;
    position: absolute;
    top: 140px;
    left: 300px;
}

div.fotoYoutube2 {
    display: none;
}

ul li i {
    font-size: 60px;
    width: 60px;
}

.flex-icon1,
.flex-icon2,
.flex-icon3 {
    display: flex;
    text-align: center;
    margin-bottom: -20px;
    margin-left: 15px;
}

div.tip p {
    justify-content: center;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 129.9%;
    font-style: normal;
    font-weight: normal;
    font-family: $fuente-ubuntu;
}

.buttonDiv2 {
    display: none;
}

// BLOG 
section.blog {
    width: 73%;
    margin-left: 170px;
}

#slider {
    margin-top: 10%;
}

.content-area {
    position: relative;
    margin: 0;
}

.content-area a img {
    border-radius: 20px;
}

.custom-overlay {
    position: absolute;
    top: 420px;
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 70%;
}

.content-text {
    position: absolute;
}

.custom-overlay h4 {
    color: #FFFFFF;
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    position: relative;
    bottom: 184px;
}

.custom-overlay p {
    color: #FFFFFF;
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    position: relative;
    bottom: 165px;
}

.custom-overlay p::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 8px;
    background-color: $color-base;
    border-radius: 5px;
}

.custom-overlay p::before {
    bottom: -15px;
}

div#slider {
    margin-top: 40px;
}

//NEWSLETTER
section.newsletter {
    margin-top: 50px;
    margin-bottom: 50px;
}

section.newsletter {
    text-align: center !important;
    justify-content: center !important;
}

#mc_embed_signup form {
    align-self: center !important;
    text-align: center !important;
    left: 250px;
}

#mc_embed_signup_scroll {
    display: flex;
    height: 80px;
    max-width: 990px !important;
    position: relative !important;
    z-index: 30;
    left: 40px;
}

#mc_embed_signup input.email {
    border-radius: 20px 0 0 20px !important;
    margin: 0 !important;
    font-family: $fuente-ubuntu !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: 34px !important;
    width: 48% !important;
}

div.imgNewsletter {
    text-align: center !important;
    img {
        border-radius: 20px;
        position: relative;
        top: -50px;
        width: 69%;
        z-index: 20;
        left: -25px !important;
        box-shadow: 4px 8px 20px 4px rgba(31, 27, 27, 0.25);
    }
}

div#mc_embed_signup p {
    font-family: $fuente-ubuntu !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: 34px !important;
    align-items: center !important;
    height: 68px !important;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center !important;
    margin-left: 303px;
    width: 690px;
}

#mc_embed_signup_scroll .button {
    margin: 0px !important;
    color: $color-blanco !important;
    width: 100% !important;
    background: $color-base !important;
    box-shadow: 0px 2px 8px rgba(31, 14, 17, 0.5) !important;
    border-radius: 0 20px 20px 0 !important;
}

#mc_embed_signup input.button {
    width: 184px !important;
    margin: 0 !important;
    height: 79px !important;
    border-radius: 15px;
}

#mc_embed_signup .button {
    font-family: $fuente-ubuntu !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 21px !important;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

div.imgNewsletter2 {
    display: none;
    text-align: center !important;
    img {
        position: relative;
        top: -50px;
        z-index: 20;
        box-shadow: 4px 8px 20px 4px rgba(31, 27, 27, 0.25);
    }
}

//FOOTER
footer div.textoFooter {
    height: 200px;
    text-align: center;
    margin-top: 11%;
    h1 {
        color: $color-base;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 25px;
        margin-top: -40px;
    }
    p {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 129.9%;
        width: 489px;
        align-self: center;
        margin: auto;
        a {
            color: $color-base;
        }
    }
}

.buttonFooter {
    background-color: $color-base;
    box-shadow: 0px 2px 8px rgba(31, 14, 17, 0.5);
    border-radius: 10px;
    color: $color-blanco;
    padding: 20px 150px 20px 150px;
    text-align: center;
    text-decoration: none;
    font-family: $fuente-ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    transition: 0.4s;
}

.buttonFooter:hover {
    background-color: #df082f;
    color: #000000;
    text-decoration: none;
}

footer div.footerButton {
    text-align: center;
    height: 480px;
    background-image: url("../imagenes/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

//medida celular
@media (max-width: 375px) {
    //Barra de costado
    .menuMobile {
        margin-top: 50px;
        Display: flex;
        justify-content: center;
        align-items: center;
    }
    .phone {
        /* background-color: #36383F; */
        /* border-radius: 40px; */
        /* width: 300px; */
        height: 667px;
        Display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuIzquierda {
        /* border: 1px solid #36383F; */
        // border-radius: 20px;
        width: 100%;
        height: 100%;
        /* background-color: #F5F6FA; */
        overflow: hidden;
    }
    nav {
        height: 65px;
    }
    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    #menuToggle span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
    }
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
        font-family: $fuente-ubuntu;
        list-style: none;
        position: absolute;
        width: 400px;
        height: 700px;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        background-image: $imagen-mobile-desplegable;
    }
    #menu li {
        padding: 10px 0;
        transition-delay: 2s;
        font-family: $fuente-ubuntu;
        display: flex;
    }
    #menu li a {
        font-family: $fuente-ubuntu;
        color: $color-negro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
    }
    #menuToggle input:checked~ul {
        transform: none;
    }
    .mobileH {
        margin-right: 144px;
    }
    .mobileY {
        margin-right: 166px;
    }
    .mobileB {
        margin-right: 198px;
    }
    .mobileC {
        margin-right: 150px;
    }
    //aplicado a navBar
    .menuMobile {
        display: block;
        margin: 0px;
        padding: 0px;
        background-image: $imagen-inicio-mobile;
    }
    .ubicacionMobile {
        justify-content: start !important;
        align-items: flex-start !important;
        margin-top: 3%;
    }
    .menuBlock {
        display: none;
    }
    .menuBlock2 {
        display: none;
    }
    .menuFixed {
        display: none;
    }
    .formatoNavMobile a {
        font-family: $fuente-ubuntu;
        color: $color-negro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
    }
    //aplicado a inicio
    .inicioMobile {
        display: block;
        // background-image: $imagen-inicio-mobile;
        // height: 618px;
    }
    .contenedorInicio {
        display: none;
    }
    .inicioDesktop {
        display: none;
    }
    .contenedorInicio {
        background-image: $imagen-inicio-mobile;
        background-color: none;
        height: 667px;
    }
    .textoInicio {
        margin-top: 0px;
        margin-left: 6%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            // margin-left: 10px;
            margin-right: 160px;
            margin-bottom: 24px;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            // margin-left: 10px;
            margin-right: 160px;
            margin-bottom: 24px;
        }
        button {
            width: 240px;
            height: 48px;
        }
        .textoInicioMobile {
            margin-left: 32px;
        }
    }
    .logoMobile {
        display: block;
        img {
            width: 90px;
            height: 76px;
            margin-left: 75px;
            margin-bottom: 51px;
        }
    }
    //redes flotantes
    .redesFlotantes {
        display: none;
    }
    .redesMobile {
        margin-top: 135px;
        ul {
            list-style: none;
            display: flex;
            padding: 0px;
            justify-content: space-around;
            align-items: center;
            margin: 0px;
            li {
                margin: 0px;
            }
        }
    }
    #barra2 {
        display: none !important;
    }
    //acomodando SOy Lucas
    .soyLucas {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 8%px;
        margin-bottom: 0px;
    }
    .imagenSoyLucas1 {
        padding: 0px;
        margin-left: 9%;
        img {
            width: 290px;
            height: 340px;
            padding: 0px;
            margin-left: 9px;
            border-radius: 9px;
        }
    }
    .textoSoyLucas1 {
        margin-left: 9%;
        h2 {
            margin-top: 0px;
            margin-top: 26px;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 24px;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 129.9%;
            margin-bottom: 32px;
            margin-right: 64px;
            margin-top: 0px;
        }
        h4 {
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 24px;
            margin-bottom: 16px;
        }
    }
    .textoSoyLucas2 {
        margin-left: 9%;
        h4 {
            margin-top: 0px;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 24px;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 129.9%;
            margin-right: 64px;
        }
    }
    .imagenSoyLucas2 img {
        display: none;
    }
    .imagenesMobile img {
        display: inline-block;
        width: 141px;
        height: 178px;
        border-radius: 9px;
    }
    //Seccion youtube
    div.titulo h1 {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-left: 25px;
    }
    .buttonDiv2 {
        display: block;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .buttonDiv {
        display: none;
        justify-content: center;
    }
    .flex-icon1,
    .flex-icon2,
    .flex-icon3 {
        display: flex;
        margin: auto;
    }
    ul li i {
        font-size: 40px;
        width: 40px;
        margin-left: 10px;
    }
    div.tip p {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        margin-left: 26px;
    }
    .button1 {
        background-color: #FFFFFF;
        border-radius: 10px;
        color: #661725;
        width: 309px;
        height: 60px;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        transition-duration: 0.4s;
    }
    .pregunta h2 {
        margin: 45px 0 0 35px;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        margin-top: 120px;
        margin-bottom: 20px;
    }
    .titulo p {
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 129.9%;
        max-width: 943px;
        margin-bottom: 120px;
        margin-top: 30px;
        margin-right: 28px;
        margin-left: 27px;
    }
    section.youtube1 {
        width: 108%;
        margin-left: 0px;
    }
    .grid {
        max-width: 430px;
        width: 100%;
        height: 445px;
    }
    div.fotoYoutube {
        display: none;
        border-radius: 20px;
        width: 702.23px;
        height: 395px;
        position: absolute;
        top: 147px;
        left: 445px;
    }
    div.fotoYoutube2 {
        position: absolute;
        display: block;
        width: 320px;
        height: 175px;
        padding: 0;
        margin: 0;
        top: -81px;
        left: 32px;
    }
    //Seccion blog
    section.blog {
        width: 100%;
        margin-left: 10px;
    }
    .custom-overlay {
        position: absolute;
        top: 180px;
        bottom: 0;
        left: 30px;
        right: 30px;
        height: 70%;
    }
    .custom-overlay h4 {
        color: #FFFFFF;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        bottom: 44px;
    }
    .custom-overlay p {
        color: #FFFFFF;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16, 09px;
        bottom: 44px;
    }
    .custom-overlay p::before {
        content: '';
        position: absolute;
        width: 85px;
        height: 8px;
        background-color: $color-base;
        border-radius: 5px;
    }
    .custom-overlay p::before {
        bottom: -10px;
    }
    div.tituloBlog {
        h1 {
            font-family: $fuente-ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            margin-top: 40px;
            margin-left: 20px;
        }
        p {
            font-family: $fuente-ubuntu;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 129.9%;
            max-width: 943px;
            margin-bottom: 20px;
            margin-top: 30px;
            margin-left: 12px;
            margin-right: 25px;
        }
    }
    //Seccion footer
    footer div.textoFooter {
        height: 200px;
        text-align: center;
        // margin-top: 5%;
        h1 {
            color: $color-base;
            font-family: $fuente-ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
        }
        p {
            font-family: $fuente-ubuntu;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            width: 311px;
            a {
                color: $color-base;
            }
        }
    }
    .buttonFooter {
        background-color: $color-base;
        box-shadow: 0px 2px 8px rgba(31, 14, 17, 0.5);
        border-radius: 10px;
        color: $color-blanco;
        padding: 20px 100px 20px 100px;
        text-align: center;
        text-decoration: none;
        font-family: $fuente-ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        transition: 0.4s;
    }
    footer div.footerButton {
        text-align: center;
        background-image: url("../imagenes/footer-mobile2.png");
        height: 430px;
        background-size: cover;
    }
    //Seccion newsletter
    div.imgNewsletter {
        display: none;
        text-align: center !important;
        img {
            border-radius: 20px;
            position: relative;
            top: -50px;
            z-index: 20;
            left: -25px !important;
        }
    }
    div.imgNewsletter2 {
        display: block;
        text-align: center !important;
        img {
            position: relative;
            top: -50px;
            z-index: 20;
            box-shadow: 4px 8px 20px 4px rgba(31, 27, 27, 0.25);
        }
    }
    #mc_embed_signup input.email {
        border-radius: 10px 0 0 10px !important;
        margin: 0 !important;
        font-family: $fuente-ubuntu !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 18px !important;
        left: -20px;
        width: 80%;
        min-width: 204px !important;
    }
    div#mc_embed_signup p {
        font-family: $fuente-ubuntu !important;
        font-style: normal !important;
        font-size: 16px !important;
        font-weight: bold;
        line-height: 18px !important;
        line-height: 18px !important;
        align-items: center !important;
        width: 311px !important;
        text-align: center !important;
        height: 36px !important;
        margin-bottom: 40px !important;
        margin-top: -10px !important;
        margin-left: 30px;
    }
    #mc_embed_signup form {
        align-self: center !important;
        text-align: center !important;
        left: -15px;
        width: 311px;
    }
    #mc_embed_signup .button {
        font-family: $fuente-ubuntu !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 16px !important;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }
    #mc_embed_signup input.button {
        width: 103px !important;
        margin: 0 !important;
        height: 50px !important;
    }
    #mc_embed_signup_scroll {
        display: flex;
        height: 50px;
        max-width: 943px !important;
        position: relative !important;
        z-index: 30;
        top: -10px;
    }
    #mc_embed_signup_scroll .button {
        margin: 0px !important;
        color: $color-blanco !important;
        width: 100% !important;
        background: $color-base !important;
        box-shadow: 0px 2px 8px rgba(31, 14, 17, 0.5) !important;
        border-radius: 0 10px 10px 0 !important;
    }
}